.background-gradient{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
}
.background-sidebar{
    background-color: #FAFFC1;
}

.nav-item{ 
    width: 100%;
    padding:0 10px ;
    border-radius: 3px;
    
}
.nav-item:hover{
    background-color: #00C1FE;
}
#card-student{
    background-color: #F0F9FF;
}
#card-course{
    background-color: #FEF6FB;
}
#card-pay{
    background-color: #FEFBEC;
}
#card-user{
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}
.card{
    margin-bottom: 10px;
}