.background-gradient{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
}
.background-sidebar{
    background-color: #FAFFC1;
}

.nav-item{ 
    width: 100%;
    padding:0 10px ;
    border-radius: 3px;
    
}
.nav-item:hover{
    background-color: #00C1FE;
}